:root {
  --primary-font: "Lora", serif;
  --secondary-font: "Noto Sans JP", sans-serif;
  --background-color: #ebe8e2;
  --primary-color: #1a1a1a;
  --secondary-color: #e2dce2;
  --hover-color: #68422d;
}

body {
  margin: 0;
}
