:root {
  --primary-font: "Lora", serif;
  --secondary-font: "Noto Sans JP", sans-serif;
  --background-color: #e2dce2;
  --primary-color: #1a1a1a;
  --button-color: #fdeff5;
  --hover-color: #68422d;
}

html {
  background: #eae8e2;
  color: var(--primary-color);
}

body {
  margin: 0;
}
