:root {
  --primary-font: "Lora", serif;
  --secondary-font: "Noto Sans JP", sans-serif;
  --background-color: #e2dce2;
  --primary-color: #ccd6f6;
  --secondary-color: #8892af;
  --accent-color: #64ffda;
  --hover-color: #15303f;
}

html {
  background: #0b192e;
  color: var(--primary-color);
}

body {
  margin: 0;
}
